version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - '${DB_LOCAL_PORT}:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: schoolhubdb
    volumes:
      - ./postgres:/var/lib/postgresql/data